<footer id="footer">
    <ul class="icons">
        <li><a href="/discord" class="icon brands fa-discord"><span class="label">Discord</span></a></li>
        <li><a href="/invite" class="icon solid fa-plus"><span class="label">Invite</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; 2019 ΛPPΛRΛTUS</li>
    </ul>
</footer>
