<!-- Header -->
{{> header}}

<!-- Header -->
{{!-- {{> header}} --}}
<div class="main-content" id="main">
<div class="sticky-side">
	<div class="content">
		<div class="intro">
			<div class="header">
				<a href="/"><h1>ΛPPΛRΛTUS</h1></a>
				<h1>{{user.username}}</h1>
			</div>
			<article>
				<div class="title">
					<h2 class="title">Interface Designer &amp; <br> Front-End Developer
					</h2>
				</div>
				<div class="description">
					<p>Seit 2015 erschaffe ich zusammen mit meinen Kunden als freiberuflicher Interface Designer und Front-End Developer, einfache, interaktive Lösungen für komplexe Probleme. Aktuell unterstütze ich als Senior Front-End Developer die <a rel="noreferrer" target="_blank" href="https://www.gothaer.de/ueber-uns/karriere/einstieg/berufserfahrene/gothaer-systems.htm">Gothaer Systems GmbH</a> und beschäftige mich meistens mit UI/UX Design, Angular, NodeJS, Flutter und allem, was mit Front-End zu tun hat.</p>
					<p>In meiner Freizeit kann ich nicht aufhören über Development, UI/UX Design oder das Lebens als Entwickler zu sprechen und teile mein Wissen daher auf Youtube, bei Konferenzen oder in Workshops.</p>
				</div>
			</article>
		</div>
		<div class="social-media">
			<nav aria-label="Social Media Links" class="social-menu">
				<a target="_blank" class="" href="https://www.youtube.com/c/UnleashedDesign/featured" style=""><span _ngcontent-serverapp-c59="" class="ng-tns-c59-4"><i class="fa-lg fab fa-youtube"></i></span><span class="name">YouTube</span></a>
				<a target="_blank" class="" href="https://twitter.com/UnleasheDesign" style=""><span _ngcontent-serverapp-c59="" class="ng-tns-c59-4"><i class="fa-lg fab fa-twitter"></i></span><span class="name">Twitter</span></a>
				<a target="_blank" class="" href="https://github.com/Johannes-Schiel" style=""><span _ngcontent-serverapp-c59="" class="ng-tns-c59-4"><i class="fa-lg fab fa-github"></i></span></span class="name">GitHub</span></a>
				<a target="_blank" class="" href="https://www.instagram.com/unleashed.design/" style=""><span _ngcontent-serverapp-c59="" class="ng-tns-c59-4"><i class="fa-lg fab fa-instagram"></i></span><span class="name">Instagram</span></a>
				{{!-- <a target="_blank" class="" href="https://www.behance.net/johannes-schiel" style=""><span _ngcontent-serverapp-c59="" class="ng-tns-c59-4">Behance</span></a> --}}
			</nav>
		</div>
	</div>

</div>

<div class="content-side">
	<div class="content">
		<nav>
			<a href=""><span>Projekte</span style="opacity: 0"></a>
			<a href=""><span>1</span></a>
			<a href=""><span>2</span></a>
			<a href=""><span>3</span></a>
		</nav>
		<main-box class="main-box" style="">
			<div class="content" style="opacity: 1;">
				<a rel="noreferrer" target="_blank" class="ng-tns-c50-286" href="https://github.com/Johannes-Schiel/password-generator">
					<project-box class="ng-tns-c70-251 ng-tns-c67-287">
						<div class="ng-tns-c67-287">
							<div class="logo">
								<i class="fab fa-github"></i>
								<span class="name">GitHub</span>
							</div>
							<div class="external-link ng-tns-c67-287">
								<i class="fas fa-external-link-alt"></i>
							</div>
							<h3 class="ng-tns-c67-287">Johannes-Schiel/password-generator</h3>
							<p class="ng-tns-c67-287">Code aus dem gemeinsamen Tutorial von The Morpheus Tutorials und Unleashed Design in dem diese einen Passwort Generator bauen.</p>
							<div class="counts ng-tns-c67-287">
								<p class="ng-tns-c67-287">
									<i class="fas fa-star"></i>
									<span class="name"> 12 </span>
								</p>
								<p  class="ng-tns-c67-287">
									<i class="fas fa-code-branch"></i>
									<span class="name"> 4 </span>
								</p>
								<p class="ng-tns-c67-287">
									<i class="fas fa-calendar-alt"></i>
									<span class="ng-tns-c67-287"> 13.05.2021 </span>
								</p>
							</div>
						</div>
					</project-box>
				</a>
			</div>
		</main-box>
	</div>
</div>

	{{!-- {{> footer}} --}}
</div>

