<!DOCTYPE HTML>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152519540-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-152519540-1');
    </script>

    <title>ΛPPΛRΛTUS - Music Bot</title>
    <link rel="shortcut icon" href="images/logo.jpg">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="keywords" content="KSJaay, Alita, Discord, Economy, Money, Bot, gain, per, message, games, general, moderation, Administration, custom, easy, to, use, MADE TO BE SIMPLER, discord.js, gaming">
    <link rel="stylesheet" href="assets/main.css" />
    <link rel="stylesheet" href="assets/navbar.css" />

</head>

<body class="landing is-preload animating theme-dark">

    <!-- Page Wrapper -->
    <div id="page-wrapper">
        {{{ body }}}
    </div>

    <!-- Scripts -->
    <script src="assets/jquery.min.js"></script>
    <script src="assets/jquery.scrollex.min.js"></script>
    <script src="assets/jquery.scrolly.min.js"></script>
    <script src="assets/browser.min.js"></script>
    <script src="assets/breakpoints.min.js"></script>
    <script src="assets/util.js"></script>
    <script src="assets/main.js"></script>
    <script src="https://kit.fontawesome.com/b88de97e0e.js" crossorigin="anonymous"></script>

</body>

</html>
